<a href="https://colab.research.google.com/github/naufalnashif/data-engineer-test-case/blob/main/DE_cybertrend_transform.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Dependencies

In [ ]:
import pandas as pd
from datetime import datetime

#Data SD Coklat

## Load data

In [ ]:
sd_coklat = pd.read_excel('SD Coklat.xlsx', sheet_name=None)

## Transform Data SD Coklat

### Copy data 1

In [ ]:
data_coklat = sd_coklat.copy()

In [ ]:
sheets_name = list(data_coklat.keys())

In [ ]:
sheets_name.remove('Student')

In [ ]:
sheets_name

['Math', 'Science', 'Social', 'Bahasa', 'English', 'Religion']

### Gabungkan semua sheets

In [ ]:
# Menggabungkan nilai pelajaran berdasarkan 'StudentID'
data_coklat_combined = None

for subject_sheet in sheets_name:
    # Menambahkan kolom 'Pelajaran' pada setiap dataframe
    data_coklat[subject_sheet]['Pelajaran'] = subject_sheet

    # Menggabungkan dataframe berdasarkan 'StudentID'
    if data_coklat_combined is None:
        data_coklat_combined = data_coklat[subject_sheet]
    else:
        data_coklat_combined = pd.concat([data_coklat_combined, data_coklat[subject_sheet]], ignore_index=True)

# Menggabungkan dengan dataframe 'Student' berdasarkan 'StudentID'
data_coklat_combined = pd.merge(data_coklat['Student'], data_coklat_combined, on='StudentID')

# Mengisi kolom 'Rata-Rata' dengan nilai rata-rata (Mid Test + Final Test)/2
data_coklat_combined['Rata-Rata'] = (data_coklat_combined['Mid Test'] + data_coklat_combined['Final Test']) / 2

### Copy data 2

In [ ]:
data_coklat_combined_2 = data_coklat_combined.copy()

### Tambahkan kolom full_name

In [ ]:
#Tambahkan kolom full name
data_coklat_combined_2['Full Name'] = data_coklat_combined_2['First Name'] + ' ' + data_coklat_combined_2['Middle Name'].fillna('') + ' ' + data_coklat_combined_2['Lastname'].fillna('')

### Tambahkan tanggal lahir, jadikan datetime, dan tambahkan kolom Umur

In [ ]:

data_coklat_combined_2['Tanggal Lahir'] = pd.to_datetime(data_coklat_combined_2['YOB'].astype(str) + '-' + data_coklat_combined_2['MOB'].astype(str) + '-' + data_coklat_combined_2['DOB'].astype(str), errors='coerce')

# Hitung umur per hari ini
data_coklat_combined_2['Umur'] = (datetime.now() - data_coklat_combined_2['Tanggal Lahir']).astype('<m8[Y]').astype(int)

### Tambahkan kolom Nilai Mutu A,B atau C

In [ ]:

# Tambahkan kolom 'Nilai Mutu' berdasarkan ketentuan
data_coklat_combined_2['Nilai Mutu'] = pd.cut(
    data_coklat_combined['Rata-Rata'],
    bins=[0, 49, 69, 84, 100],
    labels=['D', 'C', 'B', 'A'],
    right=True
)

In [ ]:
data_coklat_combined_2[data_coklat_combined_2['Rata-Rata'] == 50]

,StudentID,First Name,Middle Name,Lastname,Gender,Grade,POB,DOB,MOB,YOB,Absence (days),Term,Mid Test,Final Test,Rata-Rata,Pelajaran,Full Name,Tanggal Lahir,Umur,Nilai Mutu
2814,Std157,Augustino,Kara,Prakoso,M,3,Sorong,5,4,2014,2,1,50,50,50.0,Social,Augustino Kara Prakoso,2014-04-05,9,C
3306,Std184,Andri,Evi,Manuhutu,M,3,Pontianak,24,8,2014,0,1,50,50,50.0,English,Andri Evi Manuhutu,2014-08-24,9,C
5308,Std295,Andri,Kiki,Panggabean,M,1,Cimahi,7,12,2015,0,2,50,50,50.0,Religion,Andri Kiki Panggabean,2015-12-07,8,C
5345,Std297,Zetta,Marta,Malangkay,M,1,Mojokerto,19,7,2016,2,3,50,50,50.0,Religion,Zetta Marta Malangkay,2016-07-19,7,C

### Tambahkan kolom School

In [ ]:
data_coklat_combined_2['School'] = 'SD Coklat'
data_coklat_combined_2

,StudentID,First Name,Middle Name,Lastname,Gender,Grade,POB,DOB,MOB,YOB,...,Term,Mid Test,Final Test,Rata-Rata,Pelajaran,Full Name,Tanggal Lahir,Umur,Nilai Mutu,School
0,Std001,Ika,Tiara,Alatas,F,6,Pariaman,5,1,2011,...,1,95,82,88.5,Math,Ika Tiara Alatas,2011-01-05,13,A,SD Coklat
1,Std001,Ika,Tiara,Alatas,F,6,Pariaman,5,1,2011,...,2,66,76,71.0,Math,Ika Tiara Alatas,2011-01-05,13,B,SD Coklat
2,Std001,Ika,Tiara,Alatas,F,6,Pariaman,5,1,2011,...,3,59,84,71.5,Math,Ika Tiara Alatas,2011-01-05,13,B,SD Coklat
3,Std001,Ika,Tiara,Alatas,F,6,Pariaman,5,1,2011,...,1,71,75,73.0,Science,Ika Tiara Alatas,2011-01-05,13,B,SD Coklat
4,Std001,Ika,Tiara,Alatas,F,6,Pariaman,5,1,2011,...,2,77,90,83.5,Science,Ika Tiara Alatas,2011-01-05,13,B,SD Coklat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5395,Std300,Camilla,Gadis,Rajagukguk,F,1,Tangerang Selatan,6,6,2016,...,2,51,78,64.5,English,Camilla Gadis Rajagukguk,2016-06-06,7,C,SD Coklat
5396,Std300,Camilla,Gadis,Rajagukguk,F,1,Tangerang Selatan,6,6,2016,...,3,57,98,77.5,English,Camilla Gadis Rajagukguk,2016-06-06,7,B,SD Coklat
5397,Std300,Camilla,Gadis,Rajagukguk,F,1,Tangerang Selatan,6,6,2016,...,1,61,85,73.0,Religion,Camilla Gadis Rajagukguk,2016-06-06,7,B,SD Coklat
5398,Std300,Camilla,Gadis,Rajagukguk,F,1,Tangerang Selatan,6,6,2016,...,2,70,88,79.0,Religion,Camilla Gadis Rajagukguk,2016-06-06,7,B,SD Coklat
5399,Std300,Camilla,Gadis,Rajagukguk,F,1,Tangerang Selatan,6,6,2016,...,3,89,64,76.5,Religion,Camilla Gadis Rajagukguk,2016-06-06,7,B,SD Coklat

### Reorder Columns

In [ ]:
# Reorder columns
column_order = ['StudentID', 'School', 'Full Name', 'First Name', 'Middle Name', 'Lastname', 'Gender', 'Grade', 'POB', 'DOB', 'MOB', 'YOB', 'Tanggal Lahir', 'Umur','Absence (days)', 'Term', 'Pelajaran','Mid Test', 'Final Test', 'Rata-Rata', 'Nilai Mutu']

data_coklat_combined_2 = data_coklat_combined_2[column_order]

### Ganti nama kolom

In [ ]:
# Ganti nama kolom
data_coklat_combined_2 = data_coklat_combined_2.rename(columns={
    'StudentID': 'NIS',
    'Full Name': 'fullName',
    'First Name': 'firstName',
    'Middle Name': 'middleName',
    'Lastname': 'lastName',
    'Gender': 'gender',
    'Grade': 'grade',
    'POB': 'POB',
    'DOB': 'DOB',
    'MOB': 'MOB',
    'YOB': 'YOB',
    'Tanggal Lahir': 'birth',
    'Umur': 'age',
    'Absence (days)': 'absence',
    'Term': 'caturWulan',
    'Pelajaran': 'subjects',
    'Mid Test': 'midTest',
    'Final Test': 'finalTest',
    'Rata-Rata': 'mean',
    'Nilai Mutu' : 'finalScore',
    'School':'school'
})

In [ ]:
data_coklat_combined_2

,NIS,school,fullName,firstName,middleName,lastName,gender,grade,POB,DOB,...,YOB,birth,age,absence,caturWulan,subjects,midTest,finalTest,mean,finalScore
0,Std001,SD Coklat,Ika Tiara Alatas,Ika,Tiara,Alatas,F,6,Pariaman,5,...,2011,2011-01-05,13,2,1,Math,95,82,88.5,A
1,Std001,SD Coklat,Ika Tiara Alatas,Ika,Tiara,Alatas,F,6,Pariaman,5,...,2011,2011-01-05,13,1,2,Math,66,76,71.0,B
2,Std001,SD Coklat,Ika Tiara Alatas,Ika,Tiara,Alatas,F,6,Pariaman,5,...,2011,2011-01-05,13,0,3,Math,59,84,71.5,B
3,Std001,SD Coklat,Ika Tiara Alatas,Ika,Tiara,Alatas,F,6,Pariaman,5,...,2011,2011-01-05,13,0,1,Science,71,75,73.0,B
4,Std001,SD Coklat,Ika Tiara Alatas,Ika,Tiara,Alatas,F,6,Pariaman,5,...,2011,2011-01-05,13,1,2,Science,77,90,83.5,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5395,Std300,SD Coklat,Camilla Gadis Rajagukguk,Camilla,Gadis,Rajagukguk,F,1,Tangerang Selatan,6,...,2016,2016-06-06,7,1,2,English,51,78,64.5,C
5396,Std300,SD Coklat,Camilla Gadis Rajagukguk,Camilla,Gadis,Rajagukguk,F,1,Tangerang Selatan,6,...,2016,2016-06-06,7,2,3,English,57,98,77.5,B
5397,Std300,SD Coklat,Camilla Gadis Rajagukguk,Camilla,Gadis,Rajagukguk,F,1,Tangerang Selatan,6,...,2016,2016-06-06,7,1,1,Religion,61,85,73.0,B
5398,Std300,SD Coklat,Camilla Gadis Rajagukguk,Camilla,Gadis,Rajagukguk,F,1,Tangerang Selatan,6,...,2016,2016-06-06,7,2,2,Religion,70,88,79.0,B
5399,Std300,SD Coklat,Camilla Gadis Rajagukguk,Camilla,Gadis,Rajagukguk,F,1,Tangerang Selatan,6,...,2016,2016-06-06,7,0,3,Religion,89,64,76.5,B

## Final dataset SD Coklat

In [ ]:
data_coklat_ready = data_coklat_combined_2.loc[:, ['NIS', 'school', 'fullName', 'gender', 'grade', 'POB', 'birth', 'age', 'caturWulan', 'subjects', 'midTest', 'finalTest', 'mean', 'finalScore']]

In [ ]:
data_coklat_ready

,NIS,school,fullName,gender,grade,POB,birth,age,caturWulan,subjects,midTest,finalTest,mean,finalScore
0,Std001,SD Coklat,Ika Tiara Alatas,F,6,Pariaman,2011-01-05,13,1,Math,95,82,88.5,A
1,Std001,SD Coklat,Ika Tiara Alatas,F,6,Pariaman,2011-01-05,13,2,Math,66,76,71.0,B
2,Std001,SD Coklat,Ika Tiara Alatas,F,6,Pariaman,2011-01-05,13,3,Math,59,84,71.5,B
3,Std001,SD Coklat,Ika Tiara Alatas,F,6,Pariaman,2011-01-05,13,1,Science,71,75,73.0,B
4,Std001,SD Coklat,Ika Tiara Alatas,F,6,Pariaman,2011-01-05,13,2,Science,77,90,83.5,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5395,Std300,SD Coklat,Camilla Gadis Rajagukguk,F,1,Tangerang Selatan,2016-06-06,7,2,English,51,78,64.5,C
5396,Std300,SD Coklat,Camilla Gadis Rajagukguk,F,1,Tangerang Selatan,2016-06-06,7,3,English,57,98,77.5,B
5397,Std300,SD Coklat,Camilla Gadis Rajagukguk,F,1,Tangerang Selatan,2016-06-06,7,1,Religion,61,85,73.0,B
5398,Std300,SD Coklat,Camilla Gadis Rajagukguk,F,1,Tangerang Selatan,2016-06-06,7,2,Religion,70,88,79.0,B
5399,Std300,SD Coklat,Camilla Gadis Rajagukguk,F,1,Tangerang Selatan,2016-06-06,7,3,Religion,89,64,76.5,B

In [ ]:
data_coklat_ready.to_csv('SD_Coklat-transform_Ready.csv', index=False)
data_coklat_ready.to_excel('SD_Coklat-transform_Ready.xlsx', index=False)

# Data SD Jingga Modified

## Load Data SD Jingga Modified

In [ ]:
sd_jingga = pd.read_excel('SD Jingga Modified.xlsx', sheet_name = None)

## Transform 1 Data SD Jingga

In [ ]:
data_jingga = sd_jingga.copy()

In [ ]:
sheets_name_jingga = list(data_jingga.keys())
sheets_name_jingga

['Student',
 'Cawu 1',
 'Cawu 2',
 'Cawu 3',
 'Math',
 'Religion',
 'Bahasa',
 'English',
 'Social',
 'Science']

In [ ]:
# Daftar sheet yang ingin dihapus
sheets_to_remove = ['Cawu 1', 'Cawu 2', 'Cawu 3']

# Menghapus sheet yang tidak diperlukan
for sheet in sheets_to_remove:
    if sheet in data_jingga:
        del data_jingga[sheet]

# Tampilkan sheet yang tersisa
sheets_name_jingga = list(data_jingga.keys())
sheets_name_jingga

['Student', 'Math', 'Religion', 'Bahasa', 'English', 'Social', 'Science']

### Perbaiki sheet 'Student'

In [ ]:
sheet1 = data_jingga['Student']
sheet1.head()

,StudentID,Nama Siswa,Jenis Kelamin,Kelas,Tempat Tanggal Lahir
0,Std001,Julie Helena Saad,Perempuan,VI,"Subulussalam, 02/04/2011"
1,Std002,Lukas Gibran Perkasa,Laki Laki,VI,"Kediri, 24/01/2010"
2,Std003,Karel Mas Agus Sigar,Laki Laki,VI,"Surakarta, 13/07/2010"
3,Std004,Embun Vivi Al Habsy,Perempuan,VI,"Banjarbaru, 21/09/2010"
4,Std005,Indira Glory Ambarita,Perempuan,VI,"Palopo, 14/05/2011"

In [ ]:
# Mengganti nilai pada kolom 'Jenis Kelamin'
sheet1['Jenis Kelamin'] = sheet1['Jenis Kelamin'].replace({'Laki Laki': 'M', 'Perempuan': 'F'})
sheet1.head()

,StudentID,Nama Siswa,Jenis Kelamin,Kelas,Tempat Tanggal Lahir
0,Std001,Julie Helena Saad,F,VI,"Subulussalam, 02/04/2011"
1,Std002,Lukas Gibran Perkasa,M,VI,"Kediri, 24/01/2010"
2,Std003,Karel Mas Agus Sigar,M,VI,"Surakarta, 13/07/2010"
3,Std004,Embun Vivi Al Habsy,F,VI,"Banjarbaru, 21/09/2010"
4,Std005,Indira Glory Ambarita,F,VI,"Palopo, 14/05/2011"

In [ ]:
# Mengganti nilai pada kolom 'Kelas'
kelas_mapping = {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5, 'VI': 6}
sheet1['Kelas'] = sheet1['Kelas'].replace(kelas_mapping)
sheet1.head()

,StudentID,Nama Siswa,Jenis Kelamin,Kelas,Tempat Tanggal Lahir
0,Std001,Julie Helena Saad,F,6,"Subulussalam, 02/04/2011"
1,Std002,Lukas Gibran Perkasa,M,6,"Kediri, 24/01/2010"
2,Std003,Karel Mas Agus Sigar,M,6,"Surakarta, 13/07/2010"
3,Std004,Embun Vivi Al Habsy,F,6,"Banjarbaru, 21/09/2010"
4,Std005,Indira Glory Ambarita,F,6,"Palopo, 14/05/2011"

In [ ]:
# Memisahkan kolom 'Tempat Tanggal Lahir' menjadi 'POB' dan 'birth'
sheet1[['POB', 'birth']] = sheet1['Tempat Tanggal Lahir'].str.split(', ', expand=True)

# Mengonversi kolom 'birth' ke tipe data datetime dan memformatnya
sheet1['birth'] = pd.to_datetime(sheet1['birth'], format='%d/%m/%Y').dt.strftime('%Y-%m-%d')
sheet1.head()

,StudentID,Nama Siswa,Jenis Kelamin,Kelas,Tempat Tanggal Lahir,POB,birth
0,Std001,Julie Helena Saad,F,6,"Subulussalam, 02/04/2011",Subulussalam,2011-04-02
1,Std002,Lukas Gibran Perkasa,M,6,"Kediri, 24/01/2010",Kediri,2010-01-24
2,Std003,Karel Mas Agus Sigar,M,6,"Surakarta, 13/07/2010",Surakarta,2010-07-13
3,Std004,Embun Vivi Al Habsy,F,6,"Banjarbaru, 21/09/2010",Banjarbaru,2010-09-21
4,Std005,Indira Glory Ambarita,F,6,"Palopo, 14/05/2011",Palopo,2011-05-14

In [ ]:
data_jingga['Student'] = sheet1

In [ ]:
data_jingga['Student']

,StudentID,Nama Siswa,Jenis Kelamin,Kelas,Tempat Tanggal Lahir,POB,birth
0,Std001,Julie Helena Saad,F,6,"Subulussalam, 02/04/2011",Subulussalam,2011-04-02
1,Std002,Lukas Gibran Perkasa,M,6,"Kediri, 24/01/2010",Kediri,2010-01-24
2,Std003,Karel Mas Agus Sigar,M,6,"Surakarta, 13/07/2010",Surakarta,2010-07-13
3,Std004,Embun Vivi Al Habsy,F,6,"Banjarbaru, 21/09/2010",Banjarbaru,2010-09-21
4,Std005,Indira Glory Ambarita,F,6,"Palopo, 14/05/2011",Palopo,2011-05-14
...,...,...,...,...,...,...,...
295,Std296,Anna Elina Charles,F,1,"Parepare, 01/10/2016",Parepare,2016-10-01
296,Std297,Marcela Anita Marbun,F,1,"Metro, 04/06/2016",Metro,2016-06-04
297,Std298,Vyasti Citra Chandra,F,1,"Parepare, 22/07/2018",Parepare,2018-07-22
298,Std299,Anthony Aprilio Bachmid,M,1,"Batu, 16/09/2017",Batu,2017-09-16
299,Std300,Amien Baim Manopo,M,1,"Bengkulu, 05/03/2018",Bengkulu,2018-03-05

### Gabungkan semua sheets

In [ ]:
sheets_name = list(data_coklat.keys())
sheets_name.remove('Student')

# Menggabungkan nilai pelajaran berdasarkan 'StudentID'
data_jingga_combined = None

for subject_sheet in sheets_name:
    # Menambahkan kolom 'Pelajaran' pada setiap dataframe
    data_jingga[subject_sheet]['Pelajaran'] = subject_sheet

    # Menggabungkan dataframe berdasarkan 'StudentID'
    if data_jingga_combined is None:
        data_jingga_combined = data_jingga[subject_sheet]
    else:
        data_jingga_combined = pd.concat([data_jingga_combined, data_jingga[subject_sheet]], ignore_index=True)

# Menggabungkan dengan dataframe 'Student' berdasarkan 'StudentID'
data_jingga_combined = pd.merge(data_jingga['Student'], data_jingga_combined, on='StudentID')

# Mengisi kolom 'Rata-Rata' dengan nilai rata-rata (Mid Test + Final Test)/2
data_jingga_combined['Rata-Rata'] = (data_jingga_combined['Mid Test'] + data_jingga_combined['Final Test']) / 2

In [ ]:
data_jingga_combined

,StudentID,Nama Siswa,Jenis Kelamin,Kelas,Tempat Tanggal Lahir,POB,birth,Cawu,Mid Test,Final Test,Rata-Rata,Pelajaran
0,Std001,Julie Helena Saad,F,6,"Subulussalam, 02/04/2011",Subulussalam,2011-04-02,1,91,74,82.5,Math
1,Std001,Julie Helena Saad,F,6,"Subulussalam, 02/04/2011",Subulussalam,2011-04-02,2,98,68,83.0,Math
2,Std001,Julie Helena Saad,F,6,"Subulussalam, 02/04/2011",Subulussalam,2011-04-02,3,96,68,82.0,Math
3,Std001,Julie Helena Saad,F,6,"Subulussalam, 02/04/2011",Subulussalam,2011-04-02,1,61,84,72.5,Science
4,Std001,Julie Helena Saad,F,6,"Subulussalam, 02/04/2011",Subulussalam,2011-04-02,2,76,53,64.5,Science
...,...,...,...,...,...,...,...,...,...,...,...,...
5395,Std300,Amien Baim Manopo,M,1,"Bengkulu, 05/03/2018",Bengkulu,2018-03-05,2,95,77,86.0,English
5396,Std300,Amien Baim Manopo,M,1,"Bengkulu, 05/03/2018",Bengkulu,2018-03-05,3,50,73,61.5,English
5397,Std300,Amien Baim Manopo,M,1,"Bengkulu, 05/03/2018",Bengkulu,2018-03-05,1,82,63,72.5,Religion
5398,Std300,Amien Baim Manopo,M,1,"Bengkulu, 05/03/2018",Bengkulu,2018-03-05,2,57,58,57.5,Religion
5399,Std300,Amien Baim Manopo,M,1,"Bengkulu, 05/03/2018",Bengkulu,2018-03-05,3,60,80,70.0,Religion

### Copy data 2

In [ ]:
data_jingga_combined_2 = data_jingga_combined.copy()

### Tambahkan tanggal lahir, jadikan datetime, dan tambahkan kolom Umur

In [ ]:

data_jingga_combined_2['birth'] = pd.to_datetime(data_jingga_combined_2['birth'].astype(str), errors='coerce')

# Hitung umur per hari ini
data_jingga_combined_2['Umur'] = (datetime.now() - data_jingga_combined_2['birth']).astype('<m8[Y]').astype(int)

### Tambahkan kolom Nilai Mutu A,B atau C

In [ ]:

# Tambahkan kolom 'Nilai Mutu' berdasarkan ketentuan
data_jingga_combined_2['Nilai Mutu'] = pd.cut(
    data_jingga_combined['Rata-Rata'],
    bins=[0, 49, 69, 84, 100],
    labels=['D', 'C', 'B', 'A'],
    right=True
)

In [ ]:
data_jingga_combined_2[data_jingga_combined_2['Rata-Rata'] == 50]

,StudentID,Nama Siswa,Jenis Kelamin,Kelas,Tempat Tanggal Lahir,POB,birth,Cawu,Mid Test,Final Test,Rata-Rata,Pelajaran,Umur,Nilai Mutu
141,Std008,I Nyoman Jupiter Hutabarat,M,6,"Gunungsitoli, 19/03/2012",Gunungsitoli,2012-03-19,1,50,50,50.0,Religion,11,C

### Tambahkan kolom School

In [ ]:
data_jingga_combined_2['School'] = 'SD Jingga'
data_jingga_combined_2

,StudentID,Nama Siswa,Jenis Kelamin,Kelas,Tempat Tanggal Lahir,POB,birth,Cawu,Mid Test,Final Test,Rata-Rata,Pelajaran,Umur,Nilai Mutu,School
0,Std001,Julie Helena Saad,F,6,"Subulussalam, 02/04/2011",Subulussalam,2011-04-02,1,91,74,82.5,Math,12,B,SD Jingga
1,Std001,Julie Helena Saad,F,6,"Subulussalam, 02/04/2011",Subulussalam,2011-04-02,2,98,68,83.0,Math,12,B,SD Jingga
2,Std001,Julie Helena Saad,F,6,"Subulussalam, 02/04/2011",Subulussalam,2011-04-02,3,96,68,82.0,Math,12,B,SD Jingga
3,Std001,Julie Helena Saad,F,6,"Subulussalam, 02/04/2011",Subulussalam,2011-04-02,1,61,84,72.5,Science,12,B,SD Jingga
4,Std001,Julie Helena Saad,F,6,"Subulussalam, 02/04/2011",Subulussalam,2011-04-02,2,76,53,64.5,Science,12,C,SD Jingga
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5395,Std300,Amien Baim Manopo,M,1,"Bengkulu, 05/03/2018",Bengkulu,2018-03-05,2,95,77,86.0,English,5,A,SD Jingga
5396,Std300,Amien Baim Manopo,M,1,"Bengkulu, 05/03/2018",Bengkulu,2018-03-05,3,50,73,61.5,English,5,C,SD Jingga
5397,Std300,Amien Baim Manopo,M,1,"Bengkulu, 05/03/2018",Bengkulu,2018-03-05,1,82,63,72.5,Religion,5,B,SD Jingga
5398,Std300,Amien Baim Manopo,M,1,"Bengkulu, 05/03/2018",Bengkulu,2018-03-05,2,57,58,57.5,Religion,5,C,SD Jingga
5399,Std300,Amien Baim Manopo,M,1,"Bengkulu, 05/03/2018",Bengkulu,2018-03-05,3,60,80,70.0,Religion,5,B,SD Jingga

### Reorder Columns

In [ ]:
# Reorder columns
column_order = ['StudentID', 'School', 'Nama Siswa', 'Jenis Kelamin', 'Kelas', 'Tempat Tanggal Lahir', 'POB', 'birth', 'Umur','Pelajaran','Cawu','Mid Test', 'Final Test', 'Rata-Rata', 'Nilai Mutu']

data_jingga_combined_2 = data_jingga_combined_2[column_order]

### Ganti nama kolom

In [ ]:
# Ganti nama kolom
data_jingga_combined_2 = data_jingga_combined_2.rename(columns={
    'StudentID': 'NIS',
    'Nama Siswa': 'fullName',
    'Jenis Kelamin': 'gender',
    'Kelas': 'grade',
    'POB': 'POB',
    'Tempat Tanggal Lahir' : 'tempatTanggalLahir',
    'birth': 'birth',
    'Umur': 'age',
    'Pelajaran': 'subjects',
    'Cawu':'caturWulan',
    'Mid Test': 'midTest',
    'Final Test': 'finalTest',
    'Rata-Rata': 'mean',
    'Nilai Mutu' : 'finalScore',
    'School':'school'
})

In [ ]:
data_jingga_combined_2

,NIS,school,fullName,gender,grade,tempatTanggalLahir,POB,birth,age,subjects,caturWulan,midTest,finalTest,mean,finalScore
0,Std001,SD Jingga,Julie Helena Saad,F,6,"Subulussalam, 02/04/2011",Subulussalam,2011-04-02,12,Math,1,91,74,82.5,B
1,Std001,SD Jingga,Julie Helena Saad,F,6,"Subulussalam, 02/04/2011",Subulussalam,2011-04-02,12,Math,2,98,68,83.0,B
2,Std001,SD Jingga,Julie Helena Saad,F,6,"Subulussalam, 02/04/2011",Subulussalam,2011-04-02,12,Math,3,96,68,82.0,B
3,Std001,SD Jingga,Julie Helena Saad,F,6,"Subulussalam, 02/04/2011",Subulussalam,2011-04-02,12,Science,1,61,84,72.5,B
4,Std001,SD Jingga,Julie Helena Saad,F,6,"Subulussalam, 02/04/2011",Subulussalam,2011-04-02,12,Science,2,76,53,64.5,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5395,Std300,SD Jingga,Amien Baim Manopo,M,1,"Bengkulu, 05/03/2018",Bengkulu,2018-03-05,5,English,2,95,77,86.0,A
5396,Std300,SD Jingga,Amien Baim Manopo,M,1,"Bengkulu, 05/03/2018",Bengkulu,2018-03-05,5,English,3,50,73,61.5,C
5397,Std300,SD Jingga,Amien Baim Manopo,M,1,"Bengkulu, 05/03/2018",Bengkulu,2018-03-05,5,Religion,1,82,63,72.5,B
5398,Std300,SD Jingga,Amien Baim Manopo,M,1,"Bengkulu, 05/03/2018",Bengkulu,2018-03-05,5,Religion,2,57,58,57.5,C
5399,Std300,SD Jingga,Amien Baim Manopo,M,1,"Bengkulu, 05/03/2018",Bengkulu,2018-03-05,5,Religion,3,60,80,70.0,B

## Final dataset SD Jingga

In [ ]:
data_jingga_ready = data_jingga_combined_2.loc[:, ['NIS', 'school', 'fullName', 'gender', 'grade', 'POB', 'birth', 'age', 'caturWulan', 'subjects', 'midTest', 'finalTest', 'mean', 'finalScore']]
data_jingga_ready

,NIS,school,fullName,gender,grade,POB,birth,age,caturWulan,subjects,midTest,finalTest,mean,finalScore
0,Std001,SD Jingga,Julie Helena Saad,F,6,Subulussalam,2011-04-02,12,1,Math,91,74,82.5,B
1,Std001,SD Jingga,Julie Helena Saad,F,6,Subulussalam,2011-04-02,12,2,Math,98,68,83.0,B
2,Std001,SD Jingga,Julie Helena Saad,F,6,Subulussalam,2011-04-02,12,3,Math,96,68,82.0,B
3,Std001,SD Jingga,Julie Helena Saad,F,6,Subulussalam,2011-04-02,12,1,Science,61,84,72.5,B
4,Std001,SD Jingga,Julie Helena Saad,F,6,Subulussalam,2011-04-02,12,2,Science,76,53,64.5,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5395,Std300,SD Jingga,Amien Baim Manopo,M,1,Bengkulu,2018-03-05,5,2,English,95,77,86.0,A
5396,Std300,SD Jingga,Amien Baim Manopo,M,1,Bengkulu,2018-03-05,5,3,English,50,73,61.5,C
5397,Std300,SD Jingga,Amien Baim Manopo,M,1,Bengkulu,2018-03-05,5,1,Religion,82,63,72.5,B
5398,Std300,SD Jingga,Amien Baim Manopo,M,1,Bengkulu,2018-03-05,5,2,Religion,57,58,57.5,C
5399,Std300,SD Jingga,Amien Baim Manopo,M,1,Bengkulu,2018-03-05,5,3,Religion,60,80,70.0,B

In [ ]:
data_jingga_ready.to_csv('SD_jingga-transform_Ready.csv', index=False)
data_jingga_ready.to_excel('SD_jingga-transform_Ready.xlsx', index=False)

# Data SD Ungu Modified

## Load Data SD Ungu Modified

In [96]:
sd_ungu = pd.read_excel('SD Ungu Modified.xlsx', sheet_name = None)

## Transform 1 Data SD Ungu

In [97]:
data_ungu = sd_ungu.copy()

In [98]:
sheets_name_ungu = list(data_ungu.keys())
sheets_name_ungu

['Student',
 'Term 3',
 'Term 2',
 'Term 1',
 'Math',
 'Science',
 'Social',
 'English',
 'Bahasa',
 'Religion']

In [99]:
# Daftar sheet yang ingin dihapus
sheets_to_remove = ['Term 1', 'Term 2', 'Term 3']

# Menghapus sheet yang tidak diperlukan
for sheet in sheets_to_remove:
    if sheet in data_ungu:
        del data_ungu[sheet]

# Tampilkan sheet yang tersisa
sheets_name_ungu = list(data_ungu.keys())
sheets_name_ungu

['Student', 'Math', 'Science', 'Social', 'English', 'Bahasa', 'Religion']

### Perbaiki sheet 'Student'

In [101]:
sheet1 = data_ungu['Student']
sheet1.head()

,StudentID,Nama Depan,Nama Tengah,Nama Belakang,Jenis Kelamin,Tempat Lahir,Tanggal Lahir,Kelas
0,Std001,Mirza,Patria,Budiman,P,Tangerang,18 September 2009,6
1,Std002,Hannah,Olga,Basri,W,Cimahi,24 Mei 2009,6
2,Std003,Titi,Luh Made,Rahardja,W,Palu,06 Agustus 2010,6
3,Std004,Haqeem,Irwan,Mangkubumi,P,Pangkalpinang,22 Mei 2011,6
4,Std005,Jovita,Davina,Sigar,W,Jakarta Selatan,02 Juni 2011,6

In [102]:
# Mengganti nilai pada kolom 'Jenis Kelamin'
sheet1['Jenis Kelamin'] = sheet1['Jenis Kelamin'].replace({'P': 'M', 'W': 'F'})
sheet1.head()

,StudentID,Nama Depan,Nama Tengah,Nama Belakang,Jenis Kelamin,Tempat Lahir,Tanggal Lahir,Kelas
0,Std001,Mirza,Patria,Budiman,M,Tangerang,18 September 2009,6
1,Std002,Hannah,Olga,Basri,F,Cimahi,24 Mei 2009,6
2,Std003,Titi,Luh Made,Rahardja,F,Palu,06 Agustus 2010,6
3,Std004,Haqeem,Irwan,Mangkubumi,M,Pangkalpinang,22 Mei 2011,6
4,Std005,Jovita,Davina,Sigar,F,Jakarta Selatan,02 Juni 2011,6

In [107]:

sheet1['birth'] = sheet1['Tanggal Lahir']

# Mapping nama bulan dari bahasa Indonesia ke angka
bulan_mapping = {
    'Januari': '01',
    'Februari': '02',
    'Pebruari': '02',
    'Maret': '03',
    'April': '04',
    'Mei': '05',
    'Juni': '06',
    'Juli': '07',
    'Agustus': '08',
    'September': '09',
    'Oktober': '10',
    'November': '11',
    'Nopember':'11',
    'Desember': '12'
}

# Melakukan penggantian nama bulan dengan angka
for indo_month, angka_month in bulan_mapping.items():
    sheet1['birth'] = sheet1['birth'].str.replace(indo_month, angka_month)

# Konversi ke format tanggal yang diinginkan
sheet1['birth'] = pd.to_datetime(sheet1['birth'], format='%d %m %Y').dt.strftime('%Y-%m-%d')

In [108]:
sheet1

,StudentID,Nama Depan,Nama Tengah,Nama Belakang,Jenis Kelamin,Tempat Lahir,Tanggal Lahir,Kelas,birth
0,Std001,Mirza,Patria,Budiman,M,Tangerang,18 September 2009,6,2009-09-18
1,Std002,Hannah,Olga,Basri,F,Cimahi,24 Mei 2009,6,2009-05-24
2,Std003,Titi,Luh Made,Rahardja,F,Palu,06 Agustus 2010,6,2010-08-06
3,Std004,Haqeem,Irwan,Mangkubumi,M,Pangkalpinang,22 Mei 2011,6,2011-05-22
4,Std005,Jovita,Davina,Sigar,F,Jakarta Selatan,02 Juni 2011,6,2011-06-02
...,...,...,...,...,...,...,...,...,...
295,Std296,Pamela,Fany,Witoelar,F,Bogor,01 Januari 2015,1,2015-01-01
296,Std297,Ni Komang,Cynthia,Tarigan,F,Jakarta Selatan,24 Nopember 2014,1,2014-11-24
297,Std298,Ina,Reni,Syarif,F,Parepare,24 April 2016,1,2016-04-24
298,Std299,Shinta,Dyah,Charles,F,Pematangsiantar,17 Nopember 2015,1,2015-11-17
299,Std300,Kemala,Agusta,Taslim,F,Langsa,23 Juli 2014,1,2014-07-23

### Tambahkan kolom Full Name

In [109]:
#Tambahkan kolom full name
sheet1['Full Name'] = sheet1['Nama Depan'] + ' ' + sheet1['Nama Tengah'].fillna('') + ' ' + sheet1['Nama Belakang'].fillna('')
sheet1

,StudentID,Nama Depan,Nama Tengah,Nama Belakang,Jenis Kelamin,Tempat Lahir,Tanggal Lahir,Kelas,birth,Full Name
0,Std001,Mirza,Patria,Budiman,M,Tangerang,18 September 2009,6,2009-09-18,Mirza Patria Budiman
1,Std002,Hannah,Olga,Basri,F,Cimahi,24 Mei 2009,6,2009-05-24,Hannah Olga Basri
2,Std003,Titi,Luh Made,Rahardja,F,Palu,06 Agustus 2010,6,2010-08-06,Titi Luh Made Rahardja
3,Std004,Haqeem,Irwan,Mangkubumi,M,Pangkalpinang,22 Mei 2011,6,2011-05-22,Haqeem Irwan Mangkubumi
4,Std005,Jovita,Davina,Sigar,F,Jakarta Selatan,02 Juni 2011,6,2011-06-02,Jovita Davina Sigar
...,...,...,...,...,...,...,...,...,...,...
295,Std296,Pamela,Fany,Witoelar,F,Bogor,01 Januari 2015,1,2015-01-01,Pamela Fany Witoelar
296,Std297,Ni Komang,Cynthia,Tarigan,F,Jakarta Selatan,24 Nopember 2014,1,2014-11-24,Ni Komang Cynthia Tarigan
297,Std298,Ina,Reni,Syarif,F,Parepare,24 April 2016,1,2016-04-24,Ina Reni Syarif
298,Std299,Shinta,Dyah,Charles,F,Pematangsiantar,17 Nopember 2015,1,2015-11-17,Shinta Dyah Charles
299,Std300,Kemala,Agusta,Taslim,F,Langsa,23 Juli 2014,1,2014-07-23,Kemala Agusta Taslim

In [112]:
data_ungu['Student'] = sheet1

In [113]:
data_ungu['Student']

,StudentID,Nama Depan,Nama Tengah,Nama Belakang,Jenis Kelamin,Tempat Lahir,Tanggal Lahir,Kelas,birth,Full Name
0,Std001,Mirza,Patria,Budiman,M,Tangerang,18 September 2009,6,2009-09-18,Mirza Patria Budiman
1,Std002,Hannah,Olga,Basri,F,Cimahi,24 Mei 2009,6,2009-05-24,Hannah Olga Basri
2,Std003,Titi,Luh Made,Rahardja,F,Palu,06 Agustus 2010,6,2010-08-06,Titi Luh Made Rahardja
3,Std004,Haqeem,Irwan,Mangkubumi,M,Pangkalpinang,22 Mei 2011,6,2011-05-22,Haqeem Irwan Mangkubumi
4,Std005,Jovita,Davina,Sigar,F,Jakarta Selatan,02 Juni 2011,6,2011-06-02,Jovita Davina Sigar
...,...,...,...,...,...,...,...,...,...,...
295,Std296,Pamela,Fany,Witoelar,F,Bogor,01 Januari 2015,1,2015-01-01,Pamela Fany Witoelar
296,Std297,Ni Komang,Cynthia,Tarigan,F,Jakarta Selatan,24 Nopember 2014,1,2014-11-24,Ni Komang Cynthia Tarigan
297,Std298,Ina,Reni,Syarif,F,Parepare,24 April 2016,1,2016-04-24,Ina Reni Syarif
298,Std299,Shinta,Dyah,Charles,F,Pematangsiantar,17 Nopember 2015,1,2015-11-17,Shinta Dyah Charles
299,Std300,Kemala,Agusta,Taslim,F,Langsa,23 Juli 2014,1,2014-07-23,Kemala Agusta Taslim

### Gabungkan semua sheets

In [114]:
sheets_name = list(data_coklat.keys())
sheets_name.remove('Student')

# Menggabungkan nilai pelajaran berdasarkan 'StudentID'
data_ungu_combined = None

for subject_sheet in sheets_name:
    # Menambahkan kolom 'Pelajaran' pada setiap dataframe
    data_ungu[subject_sheet]['Pelajaran'] = subject_sheet

    # Menggabungkan dataframe berdasarkan 'StudentID'
    if data_ungu_combined is None:
        data_ungu_combined = data_ungu[subject_sheet]
    else:
        data_ungu_combined = pd.concat([data_ungu_combined, data_ungu[subject_sheet]], ignore_index=True)

# Menggabungkan dengan dataframe 'Student' berdasarkan 'StudentID'
data_ungu_combined = pd.merge(data_ungu['Student'], data_ungu_combined, on='StudentID')

# Mengisi kolom 'Rata-Rata' dengan nilai rata-rata (Mid Test + Final Test)/2
data_ungu_combined['Rata-Rata'] = (data_ungu_combined['Mid Test'] + data_ungu_combined['Final Test']) / 2

In [115]:
data_ungu_combined

,StudentID,Nama Depan,Nama Tengah,Nama Belakang,Jenis Kelamin,Tempat Lahir,Tanggal Lahir,Kelas,birth,Full Name,Cawu,Mid Test,Final Test,Rata-Rata,Pelajaran
0,Std001,Mirza,Patria,Budiman,M,Tangerang,18 September 2009,6,2009-09-18,Mirza Patria Budiman,1,90,67,78.5,Math
1,Std001,Mirza,Patria,Budiman,M,Tangerang,18 September 2009,6,2009-09-18,Mirza Patria Budiman,2,51,97,74.0,Math
2,Std001,Mirza,Patria,Budiman,M,Tangerang,18 September 2009,6,2009-09-18,Mirza Patria Budiman,3,99,61,80.0,Math
3,Std001,Mirza,Patria,Budiman,M,Tangerang,18 September 2009,6,2009-09-18,Mirza Patria Budiman,1,78,78,78.0,Science
4,Std001,Mirza,Patria,Budiman,M,Tangerang,18 September 2009,6,2009-09-18,Mirza Patria Budiman,2,70,62,66.0,Science
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5395,Std300,Kemala,Agusta,Taslim,F,Langsa,23 Juli 2014,1,2014-07-23,Kemala Agusta Taslim,2,56,83,69.5,English
5396,Std300,Kemala,Agusta,Taslim,F,Langsa,23 Juli 2014,1,2014-07-23,Kemala Agusta Taslim,3,60,62,61.0,English
5397,Std300,Kemala,Agusta,Taslim,F,Langsa,23 Juli 2014,1,2014-07-23,Kemala Agusta Taslim,1,87,76,81.5,Religion
5398,Std300,Kemala,Agusta,Taslim,F,Langsa,23 Juli 2014,1,2014-07-23,Kemala Agusta Taslim,2,67,61,64.0,Religion
5399,Std300,Kemala,Agusta,Taslim,F,Langsa,23 Juli 2014,1,2014-07-23,Kemala Agusta Taslim,3,100,76,88.0,Religion

### Copy data 2

In [116]:
data_ungu_combined_2 = data_ungu_combined.copy()

### Tambahkan tanggal lahir, jadikan datetime, dan tambahkan kolom Umur

In [117]:

data_ungu_combined_2['birth'] = pd.to_datetime(data_ungu_combined_2['birth'].astype(str), errors='coerce')

# Hitung umur per hari ini
data_ungu_combined_2['Umur'] = (datetime.now() - data_ungu_combined_2['birth']).astype('<m8[Y]').astype(int)

### Tambahkan kolom Nilai Mutu A,B atau C

In [118]:

# Tambahkan kolom 'Nilai Mutu' berdasarkan ketentuan
data_ungu_combined_2['Nilai Mutu'] = pd.cut(
    data_ungu_combined['Rata-Rata'],
    bins=[0, 49, 69, 84, 100],
    labels=['D', 'C', 'B', 'A'],
    right=True
)

In [119]:
data_ungu_combined_2[data_ungu_combined_2['Rata-Rata'] == 50]

,StudentID,Nama Depan,Nama Tengah,Nama Belakang,Jenis Kelamin,Tempat Lahir,Tanggal Lahir,Kelas,birth,Full Name,Cawu,Mid Test,Final Test,Rata-Rata,Pelajaran,Umur,Nilai Mutu
484,Std027,Pangeran,Christian,Siagian,M,Yogyakarta,24 Juni 2010,6,2010-06-24,Pangeran Christian Siagian,2,50,50,50.0,Religion,13,C
1005,Std056,Fernandes,Johan,Awondatu,M,Denpasar,09 Januari 2010,5,2010-01-09,Fernandes Johan Awondatu,1,50,50,50.0,Religion,14,C
2127,Std119,Padmi,Padmi,Assegaf,F,Banjarbaru,14 Oktober 2013,4,2013-10-14,Padmi Padmi Assegaf,1,50,50,50.0,Science,10,C
4052,Std226,Stefany,Embun,Baihaqi,F,Tarakan,18 Mei 2013,2,2013-05-18,Stefany Embun Baihaqi,3,50,50,50.0,Math,10,C
4213,Std235,Mikayla,Diane,Alexander,F,Kotamobagu,14 April 2015,2,2015-04-14,Mikayla Diane Alexander,2,50,50,50.0,Math,8,C

### Tambahkan kolom School

In [120]:
data_ungu_combined_2['School'] = 'SD Ungu'
data_ungu_combined_2

,StudentID,Nama Depan,Nama Tengah,Nama Belakang,Jenis Kelamin,Tempat Lahir,Tanggal Lahir,Kelas,birth,Full Name,Cawu,Mid Test,Final Test,Rata-Rata,Pelajaran,Umur,Nilai Mutu,School
0,Std001,Mirza,Patria,Budiman,M,Tangerang,18 September 2009,6,2009-09-18,Mirza Patria Budiman,1,90,67,78.5,Math,14,B,SD Ungu
1,Std001,Mirza,Patria,Budiman,M,Tangerang,18 September 2009,6,2009-09-18,Mirza Patria Budiman,2,51,97,74.0,Math,14,B,SD Ungu
2,Std001,Mirza,Patria,Budiman,M,Tangerang,18 September 2009,6,2009-09-18,Mirza Patria Budiman,3,99,61,80.0,Math,14,B,SD Ungu
3,Std001,Mirza,Patria,Budiman,M,Tangerang,18 September 2009,6,2009-09-18,Mirza Patria Budiman,1,78,78,78.0,Science,14,B,SD Ungu
4,Std001,Mirza,Patria,Budiman,M,Tangerang,18 September 2009,6,2009-09-18,Mirza Patria Budiman,2,70,62,66.0,Science,14,C,SD Ungu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5395,Std300,Kemala,Agusta,Taslim,F,Langsa,23 Juli 2014,1,2014-07-23,Kemala Agusta Taslim,2,56,83,69.5,English,9,B,SD Ungu
5396,Std300,Kemala,Agusta,Taslim,F,Langsa,23 Juli 2014,1,2014-07-23,Kemala Agusta Taslim,3,60,62,61.0,English,9,C,SD Ungu
5397,Std300,Kemala,Agusta,Taslim,F,Langsa,23 Juli 2014,1,2014-07-23,Kemala Agusta Taslim,1,87,76,81.5,Religion,9,B,SD Ungu
5398,Std300,Kemala,Agusta,Taslim,F,Langsa,23 Juli 2014,1,2014-07-23,Kemala Agusta Taslim,2,67,61,64.0,Religion,9,C,SD Ungu
5399,Std300,Kemala,Agusta,Taslim,F,Langsa,23 Juli 2014,1,2014-07-23,Kemala Agusta Taslim,3,100,76,88.0,Religion,9,A,SD Ungu

In [122]:
data_ungu_combined_2.columns

Index(['StudentID', 'Nama Depan', 'Nama Tengah', 'Nama Belakang',
       'Jenis Kelamin', 'Tempat Lahir', 'Tanggal Lahir', 'Kelas', 'birth',
       'Full Name', 'Cawu', 'Mid Test', 'Final Test', 'Rata-Rata', 'Pelajaran',
       'Umur', 'Nilai Mutu', 'School'],
      dtype='object')

### Reorder Columns

In [123]:
# Reorder columns
column_order = ['StudentID', 'School', 'Full Name', 'Jenis Kelamin', 'Kelas', 'Tempat Lahir', 'Tanggal Lahir', 'birth', 'Umur','Pelajaran','Cawu','Mid Test', 'Final Test', 'Rata-Rata', 'Nilai Mutu']

data_ungu_combined_2 = data_ungu_combined_2[column_order]

In [124]:
data_ungu_combined_2.columns

Index(['StudentID', 'School', 'Full Name', 'Jenis Kelamin', 'Kelas',
       'Tempat Lahir', 'Tanggal Lahir', 'birth', 'Umur', 'Pelajaran', 'Cawu',
       'Mid Test', 'Final Test', 'Rata-Rata', 'Nilai Mutu'],
      dtype='object')

### Ganti nama kolom

In [126]:
# Ganti nama kolom
data_ungu_combined_2 = data_ungu_combined_2.rename(columns={
    'StudentID': 'NIS',
    'Full Name': 'fullName',
    'Jenis Kelamin': 'gender',
    'Kelas': 'grade',
    'Tempat Lahir': 'POB',
    'Tanggal Lahir' : 'tanggalLahir',
    'birth': 'birth',
    'Umur': 'age',
    'Pelajaran': 'subjects',
    'Cawu':'caturWulan',
    'Mid Test': 'midTest',
    'Final Test': 'finalTest',
    'Rata-Rata': 'mean',
    'Nilai Mutu' : 'finalScore',
    'School':'school'
})

In [127]:
data_ungu_combined_2

,NIS,school,fullName,gender,grade,POB,tanggalLahir,birth,age,subjects,caturWulan,midTest,finalTest,mean,finalScore
0,Std001,SD Ungu,Mirza Patria Budiman,M,6,Tangerang,18 September 2009,2009-09-18,14,Math,1,90,67,78.5,B
1,Std001,SD Ungu,Mirza Patria Budiman,M,6,Tangerang,18 September 2009,2009-09-18,14,Math,2,51,97,74.0,B
2,Std001,SD Ungu,Mirza Patria Budiman,M,6,Tangerang,18 September 2009,2009-09-18,14,Math,3,99,61,80.0,B
3,Std001,SD Ungu,Mirza Patria Budiman,M,6,Tangerang,18 September 2009,2009-09-18,14,Science,1,78,78,78.0,B
4,Std001,SD Ungu,Mirza Patria Budiman,M,6,Tangerang,18 September 2009,2009-09-18,14,Science,2,70,62,66.0,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5395,Std300,SD Ungu,Kemala Agusta Taslim,F,1,Langsa,23 Juli 2014,2014-07-23,9,English,2,56,83,69.5,B
5396,Std300,SD Ungu,Kemala Agusta Taslim,F,1,Langsa,23 Juli 2014,2014-07-23,9,English,3,60,62,61.0,C
5397,Std300,SD Ungu,Kemala Agusta Taslim,F,1,Langsa,23 Juli 2014,2014-07-23,9,Religion,1,87,76,81.5,B
5398,Std300,SD Ungu,Kemala Agusta Taslim,F,1,Langsa,23 Juli 2014,2014-07-23,9,Religion,2,67,61,64.0,C
5399,Std300,SD Ungu,Kemala Agusta Taslim,F,1,Langsa,23 Juli 2014,2014-07-23,9,Religion,3,100,76,88.0,A

## Final dataset SD Ungu

In [128]:
data_ungu_ready = data_ungu_combined_2.loc[:, ['NIS', 'school', 'fullName', 'gender', 'grade', 'POB', 'birth', 'age', 'caturWulan', 'subjects', 'midTest', 'finalTest', 'mean', 'finalScore']]
data_ungu_ready

,NIS,school,fullName,gender,grade,POB,birth,age,caturWulan,subjects,midTest,finalTest,mean,finalScore
0,Std001,SD Ungu,Mirza Patria Budiman,M,6,Tangerang,2009-09-18,14,1,Math,90,67,78.5,B
1,Std001,SD Ungu,Mirza Patria Budiman,M,6,Tangerang,2009-09-18,14,2,Math,51,97,74.0,B
2,Std001,SD Ungu,Mirza Patria Budiman,M,6,Tangerang,2009-09-18,14,3,Math,99,61,80.0,B
3,Std001,SD Ungu,Mirza Patria Budiman,M,6,Tangerang,2009-09-18,14,1,Science,78,78,78.0,B
4,Std001,SD Ungu,Mirza Patria Budiman,M,6,Tangerang,2009-09-18,14,2,Science,70,62,66.0,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5395,Std300,SD Ungu,Kemala Agusta Taslim,F,1,Langsa,2014-07-23,9,2,English,56,83,69.5,B
5396,Std300,SD Ungu,Kemala Agusta Taslim,F,1,Langsa,2014-07-23,9,3,English,60,62,61.0,C
5397,Std300,SD Ungu,Kemala Agusta Taslim,F,1,Langsa,2014-07-23,9,1,Religion,87,76,81.5,B
5398,Std300,SD Ungu,Kemala Agusta Taslim,F,1,Langsa,2014-07-23,9,2,Religion,67,61,64.0,C
5399,Std300,SD Ungu,Kemala Agusta Taslim,F,1,Langsa,2014-07-23,9,3,Religion,100,76,88.0,A

In [129]:
data_ungu_ready.to_csv('SD_ungu-transform_Ready.csv', index=False)
data_ungu_ready.to_excel('SD_ungu-transform_Ready.xlsx', index=False)